
h1 {
  color: navy;
  margin-left: 20px;
}

ul:not(#favPlayers, #favTeams) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* horizontal header */
li:not(#favPlayers, #favTeams) {
  float: left;
}

li a:not(#favPlayers, #favTeams) {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(#favPlayers, #favTeams) {
  background-color: #111;
}

.vertical-list {
  width: 200px; /* Set a width if you like */
}

.vertical-list a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
}

#header {
  float: left;
  width: 50%;
}

#leagueLeadersDiv {
  float: right; 
  width: 50%;
}


#pitcherStats {
  height: 30%
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

