
h1 {
  color: navy;
  margin-left: 20px;
}

ul:not(#favPlayers, #favTeams) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* horizontal header */
li:not(#favPlayers, #favTeams) {
  float: left;
}

li a:not(#favPlayers, #favTeams) {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(#favPlayers, #favTeams) {
  background-color: #111;
}

.vertical-list {
  width: 200px; /* Set a width if you like */
}

.vertical-list a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
}
.vertical-list button {
  background-color: #eee; /* Grey background color */
  color: red; /* Black text color */
}

#searchResults button {
  background-color: #eee; /* Grey background color */
  color: green; /* Black text color */
}

.base {
  width:50px; 
  height:50px; 
  border:1px solid black;
  background:mintcream; 
}

#getGameResults {
  float: left;
  width: 10%;
}

#main {
  float: right;
  width: 90%;
}

#currentScore {
  font-size: xx-large;
  text-align: center;
  width: 50%;
  margin-top: 100px;
}

#linescore {
  margin-left: 100px;
}

#currentAB {
  clear:left;
  float:left;
  margin-top: 100px;
  margin-left: 100px;
  width: 300px;
}
#bases {
  float:left;
  margin-top: 100px;
  margin-left: 100px;
  width: 300px;
}
#second {
  clear:left;
  margin-left: 75px;
  width: 50px;
}

#third {
  margin-top: 30px;
  float: left;
  width: 50px;
}

#first {
  float: left;
  width: 50px;
  margin-left: 100px;
  margin-top: 30px;
}

#home {
  clear: left;
  width: 50px;
  margin-left: 75px;
  margin-top: 115px;
}

#currentInningPlays {
  clear:left;
  float:left;
  margin-left: 100px;
  width: 300px;
}

#AB {
  float:left;
  margin-left: 100px;
  width: 300px;
}

#allPlays {
  clear:left;
  margin-left: 100px;
}

#header {
  float: left;
  width: 50%;
}

#leagueLeadersDiv {
  float: right; 
  width: 50%;
}


#pitcherStats {
  height: 30%
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

